input,input::placeholder
{
  text-align: center;
}

.container
{
  direction: rtl;
  text-align: center;

}


.disUpdate:disabled
{
  background-color :#2c3034;
  color: aliceblue;
  border: 0cap;
}
/* .disUpdate::placeholder
{
  color: rgb(0, 0, 0);
} */

.disUpdate{
 background-color: #2c3034;
 color: aliceblue;
}
