<div class="container mt-4"><h1>סטטיסטיקות</h1></div>
<table class="d-flex justify-content-center">
  <tr>
    <td>
      <app-User-Statistics  [TypeDetails]="0"></app-User-Statistics>
    </td>
    <td>
      <app-User-Statistics [TypeDetails]="1"></app-User-Statistics>
    </td>
    <td>
      <app-User-Statistics [TypeDetails]="2"></app-User-Statistics>
    </td>
    <td>
      <app-User-Statistics [TypeDetails]="3"></app-User-Statistics>
    </td>
  </tr>
  <!-- לבדוק שיהיו מודעות -->
  <!-- ולהחזיר את כל מה שמתחת לעבוד -->
  <!-- <tbody>
    <td>
      <app-Post-Statistics  [TypeDetails]="0"></app-Post-Statistics>
    </td>
    <td>
      <app-Post-Statistics  [TypeDetails]="1"></app-Post-Statistics>
    </td>
    <td>
      <app-Post-Statistics  [TypeDetails]="2"></app-Post-Statistics>
    </td>
  </tbody> -->
</table>
