<div class="container">
  <h2 class="mt-2 mb-3">הוספת אזור</h2>
    <div class="container">

      <div class="mb-3 ">
        <input class="form-control {{this.ResponseMessage[0].Isok?'':'is-invalid'}}" type="text" title="שם אזור" autocapitalize="AreaName" placeholder="שם אזור" [(ngModel)]="ObjToAddArea.AreaName"
        id="validationArea" aria-describedby="validationAreaFeedback" required>
        <div id="validationAreaFeedback" class="invalid-feedback">
          {{this.ResponseMessage[0].Message}}
        </div>
      </div>

      <div class="mb-3 ">
        <input class="form-control {{this.ResponseMessage[1].Isok?'':'is-invalid'}}" type="number" title="קוד סביבה" autocapitalize="TopAreaId" placeholder="קוד סביבה" [(ngModel)]="ObjToAddArea.TopAreaId"
        id="validationAreaTop" aria-describedby="validationAreaTopFeedback" required>
        <div id="validationAreaTopFeedback" class="invalid-feedback">
          {{this.ResponseMessage[1].Message}}
        </div>
      </div>


      <div *ngIf="this.IsCreate" class="mb-2"><p class="text-success">האזור נוסף בהצלחה</p></div>
      <div *ngIf="!Spiner">
       <button class="btn btn-primary mb-3" (click)="ClickAddArea()">הוסף</button>
      </div>

      <div *ngIf="Spiner" class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>

    </div>

  </div>





