/* .container
{
  direction: rtl;
  text-align: center;
  width: 50%;
} */

.container {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
   min-height: 500px;
   direction: rtl;
}

hr{
  width: 25%;
  margin-right: 37.5%;
}

.card-img-top
{
  height: 250px;
}

select,option
{
  text-align: center;
}

.AddDisplay{
  display: contents;
  justify-content: center;
}
.removeDisplay
{
  display: none;
}
input,input::placeholder
{
  text-align: center;
}
.mrg
{
  margin-right: 37%;
}
@media only screen and (max-width: 600px) {


  .container {
     border-radius: 5px;
     padding: 5px;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
     min-height: 500px;
     width: 90%;
     direction: rtl;
  }
}
